doctype html
html
  head
    title= title
  body
    h1 Witaj na stronie głównej!
    
    h2 Obrazy z katalogu images:
    each image in images
      img(width='320', height='240' src=`/images/${image}`, alt=`Obrazek ${image}`)

    h2 Obrazy z katalogu pictures:
    each picture in pictures
      img(width='320', height='240' src=`/pictures/${picture}`, alt=`Zdjęcie ${picture}`)

    h2 Multimedia:
    video(width='320', height='240', controls)
      source(src='/multimedia/example.webm', type='video/webm')
