extends layout

block content
  h1= title
  if gallery_list.length
    each gallery in gallery_list
      ul
        li Galeria: #{gallery.name}; Opis: #{gallery.description}; #{gallery.updated}; 
          if gallery.user
            | User: #{gallery.user.last_name}
          else
            | User: Unknown
  else
    p There are no any galleries.
