extends layout

block content
  h1 Update Image
  form(method='POST' action=`/images/${image._id}/update`)
    .form-group
      label(for='i_name') Name:
      input#i_name.form-control(type='text' name='i_name' value=image.name required)
    .form-group
      label(for='i_description') Description:
      input#i_description.form-control(type='text' name='i_description' value=image.description required)
    .form-group
      label(for='i_path') Path:
      input#i_path.form-control(type='text' name='i_path' value=image.path required)
    .form-group
      label(for='i_gallery') Gallery:
      select#i_gallery.form-control(name='i_gallery' required)
        each gallery in galleries
          option(value=gallery._id selected=gallery._id == image.gallery._id) #{gallery.name}
    button.btn.btn-primary(type='submit') Update
